<div id="search-form" class="messages info">			
<form method="get" action="index.php">
		<h2><a href="javascript: void(null);" id="search-form-close">×</a>{% trans "search" %}</h2>
		<input type="hidden" name="view" value="search"></input>
        <label>{% trans "search" %}</label> : <input type="text" name="search" />
		<input id="submit-search" type="submit" value="{% trans "search" %} !"></input>
</form>
</div>
<script type="text/javascript">
    $(document).ready(function() {

        $("#search-form").hide();

        $("#search").click(function(){
            $("#search-form").toggle();
            $("#search").toggleClass("current");
            $("#search-arrow").toggleClass("arrow-down");
        });
        $('#search-form-close').click(function() {
            $('#search-form').hide();
        });
    });
</script>